<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diegomfv.android.realestatemanager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".RealEstateManagerApp"
        android:allowBackup="true"
        android:icon="@drawable/real_estate_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/real_estate_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuv5PtP5uwugkDW189v9_ycrp8A0nlwkU"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".ui.activities.SplashScreenActivity">
        </activity>

        <activity android:name=".ui.activities.AuthLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.DetailActivity" />
        <activity android:name=".ui.activities.SearchEngineActivity"/>
        <activity android:name=".ui.activities.CreateNewListingActivity"/>
        <activity android:name=".ui.activities.EditListingActivity" />
        <activity android:name=".ui.activities.PositionActivity" />
        <activity android:name=".ui.base.BaseActivity" />
        <activity android:name=".ui.activities.ForgotPasswordActivity" />
        <activity android:name=".ui.activities.SignUpActivity" />
        <activity android:name=".ui.activities.PhotoGridActivity" />
        <activity android:name=".ui.activities.LoanSimulatorActivity"/>

        <receiver android:name=".receivers.InternetConnectionReceiver"/>

    </application>

</manifest>